/* -*-coding:utf-8-*- */

.deallist
{
    margin: 0;
    width: 610px;
    display: block;
}

.deal
{
    display: block;
    height: 150px;
    padding-top: 6px;
    border-bottom: 1px solid #76A045;
    border-top: 1px solid #76A045;
    /*border-bottom: 1px dashed #CCCCCC;*/
}

.deal:hover
{
}

.deal a:link, a:visited
{
    text-decoration:none;
}

.deal .image
{
    display: inline;
    float: left;
    overflow: hidden;
}

.deal .image img
{
    width: 232px;
    height: 143px;
    border: 0px;
/*    weight: 175px; */
/*    width:255px */
}

.deal .info
{
    display: inline;
    float: left;
    overflow: hidden;
    margin-left: 8px;
    background-color: transparent;
    font-size: 12px;
    width: 370px;
}

.deal .info .title_section
{
    border-bottom: 1px dashed #76A045;
    /*border-bottom: 1px dashed #E4E4E4;*/
    overflow: hidden;
    height:42px;
    font-size:14px;
    line-height:22px;
}

.deal .info h4
{
    margin-top: -5px;
    font-weight: normal;
}

.deal .info a:hover, a:active
{
    text-decoration:underline;
}
.deal .info a
{
    color:#325E7F;
}

.deal .info em
{
    font-family:"arial";
    font-size:16px;
    font-style:normal;
}


.deal .info .site_name
{
    color:#00993E;
}

.deal .info p
{
    height: 30px;
    margin:6px 0px 0px 0px;
    overflow:hidden;
}


/* .deal .info .p_2 */
/* { */
/*     height:36px; */
/*     overflow:hidden; */
/* } */

.deal .info span
{
    display:inline;
    float:left;
    width:120px;
    line-height: 30px;
}
.deal .info .timeleft
{
    width:240px;
}

.deal .info .price
{
    font-weight: bold;
    font-size: 26px;
    color:#D80000 !important;
    line-height: 10px;
}

.deal .info .value
{
    text-decoration: line-through;
    font-style: italic;
}

.deal .info .saving, .rebate
{
    color:#D80000 !important;
}

.deal .info .p_3
{
    line-height: 10px;
}

/* .deal .info .p_3 .site_name */
/* { */
/*     font-weight: bold; */
/*     color:#D80000; */
/* } */

/* .deal .info .p_3 .site_name a */
/* { */
/*     color:#D80000; */
/* } */

.deal .info .p_3 .go
{
    color: #D80000 !important;
    font-size: 16px;
}

.deal .info .p_3 .go a
{
    color: #00993E;
    /*background-color: yellow;*/
}


.sidebox h2
{
    font-size: 16px;
    font-weight: normal;
}

.site_list
{
    display: block;
    overflow: hidden;
}

.site_item
{
    float: left;
    height: 24px;
    overflow: hidden;
    padding: 0px 15px 12px 0px
    text-align: left;
    width: 90px;
}


.bottom-line
{
    border-bottom: 1px dashed #76A045;
}

.page_nav
{
    margin: 10px auto;
    text-align: center;
}

.page_nav a, .page_nav span
{
    border: 1px solid #D5D5D5;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    overflow: hidden;
    padding: 3px 3px 3px 3px;
}

.logo
{
    border: 1px solid #76A045;
    border-radius: 5px 5px 5px 5px;
    /*background-color: #2DB966;*/
    /*width: 161px;*/
    height: 100px;
    margin-top: 10px;
    padding-left: 20px;
}
.logo h1
{
    font-size: 20px;
    font-weight: normal;
}
.logo h2
{
    font-size: 14px;
    font-weight: normal;
}

.citynav a, .citynav span
{
    display: inline-block;
    overflow: hidden;
    padding: 3px 3px 3px 3px;
    width: 55px;
    text-align: center;
}
.citynav span
{
    background-color: #76A045;
}

